h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}

footer {
  clear: both;
  height: 200px;
  margin-top: 10px;
}

.iframe {
  align-items: center;
}

a:link,
a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: green;
  color: white;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  height: 175px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 10px;
  text-align: center;
}
